<% @patients.each do |patient| %>
  <tr>
      <td><%= patient.firstName%></td>
      <td><%= patient.familyName%></td>
      <td><%= patient.villageName%></td>
      <td><%= link_to "View", patient %></td>
      <!-- <td class="hidden-mobile"><span class="s_green">Approved</span></td> -->
  </tr>
  <% end %> 