<footer class="footer">
 <!--  <small>
    Powered by :
    <%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
    <div>
        ZnjaWare 
    by Carlos Corvaia
    </div> -->
  </small>
</footer>