<!DOCTYPE html>
<html lang="en"  class="body-error"><head>
    <meta charset="utf-8">
    <title>Mobile Clinic - Please Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="css/login.css" rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">

	  <link rel="stylesheet" href="css/icon/font-awesome.css">    
    <link rel="stylesheet" href="css/bootstrap-responsive.css">
	
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/images/icons/favicon.ico">
    
  </head>

  <body>

        <div id="wrapper">
            <div id="login" class="animate form position">
                	<%= form_for(:session, url: sessions_path, class: "form-login") do |f| %>
                    <div class="content-login">
                    <div class="header">Account Login</div>
                    
                    	<div class="inputs">
      						<%= f.text_field :userName, placeholder: "User Name" %>
      						<%= f.password_field :password, placeholder: "Password" %>
                    	</div>
                    
                    	<div class="link-2"><a href="#">Forgot Password?</a></div>
                    	<div class="clear"></div>
                    	<div class="button-login">
                     		<%= f.submit "Sign in" %>
                    	</div>
                    </div>
                    
                    <div class="footer-login">
                     <div class="clear"></div>
                    </div>
               <% end %>
            </div>         
    </div>  
    
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.min.js"></script>
  </body>
</html>
